body {
	background: #bdbdbd;
}
.rounded {
	/* background-image: url("https://github.com/4GeeksAcademy/css-tutorial-exercises-course/blob/master/.learn/assets/einstein.png?raw=true"); */
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	width: 300px;
	height: 300px;
}
